---
import SectionTitle from '../SectionTitle.astro';

interface Props {
    logos   : string[];
}
const { logos } = Astro.props

const logosTop = logos.slice(0, Math.floor(logos.length / 2))
const logosDown = logos.slice(Math.floor(logos.length / 2),logos.length)

---

<section class="colaborations">
    <div class="colaborations__show">
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
    </div>
    <div class="colaborations__spacing"> <SectionTitle title="Clientes que confian en nosotros" /> </div>
    <div class="colaborations__show">
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo} alt="">
                </figure>
            ))
        }
    </div>
</section>

<style>
.colaborations{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-x: hidden;
}

.colaborations__show{
    position: relative;
    display: flex;
    gap: 1rem;
    animation: linear colanH 15s infinite;
}
@keyframes colanH {
    from{left: 0px;}
    to{left: -36rem;}
}

.colaborations__logo{
    width: 8rem;
    height: 3rem;
    flex-shrink: 0;
    border: 1px solid #000;
}

.colaborations__spacing{
    padding-left: 5rem;
}

</style>
