---
import SectionTitle from '../SectionTitle.astro';

interface Props {
    logos   : ImageMetadata[];
}
const { logos } = Astro.props

const logosTop = logos.slice(0, Math.floor(logos.length / 2))
const logosDown = logos.slice(Math.floor(logos.length / 2),logos.length)

---

<section class="colaborations">
    <div class="colaborations__show">
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosTop.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
    </div>
    <div class="colaborations__spacing"> <SectionTitle title="Clientes que confian en nosotros" /> </div>
    <div class="colaborations__show">
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
        {
            logosDown.map(logo => (
                <figure class="colaborations__logo">
                    <img src={logo.src} alt="">
                </figure>
            ))
        }
    </div>
</section>

<style>
.colaborations{
    margin          : 0 1rem;
    display         : flex;
    flex-direction  : column;
    gap             : 3rem;
    overflow-x      : hidden;
}

.colaborations__show{
    position        : relative;
    display         : flex;
    gap             : 1rem;
    animation       : linear colanH 15s infinite;
}
@keyframes colanH {
    from{left       : 0;}
    to{left         : -36rem;}
}

.colaborations__logo{
    width           : 10rem;
    flex-shrink     : 0;
}

.colaborations__spacing{
    padding-left: 5rem;
}

</style>
