---interface Props {
    gradoAcademico  : string;
    nombres         : string;
    apellidos       : string;
    cargo           : string;
    retrato         : ImageMetadata;
}
const { gradoAcademico, nombres, apellidos, cargo, retrato } = Astro.props


---

<article class="employee">
    <img class="employee__portrait" src={retrato.src} alt='Retrato de ${}'>
    <div class="employee__info">
        <span class="employee__subData"> {gradoAcademico} </span>
        <p class="employee__name">
            <span> {nombres} </span>
            <br>
            <span> {apellidos} </span>
        </p>
        <span class="employee__subData employee__subData__rol"> {cargo} </span>
    </div>
</article>

<style>
.employee{
    position        : relative;
    width           : 13rem;
    flex-shrink: 0;
}
.employee__portrait{
    border-radius   : 4px;
}
.employee__info {
    position        : absolute;
    max-width       : 100%;
    bottom          : .5rem;
    display         : flex;
    flex-direction  : column;
    gap             : .5rem;
    padding         : .5rem;
}
.employee__subData{
    width           : max-content;
    max-width       : 100%;
    padding         : 0 .5rem;
    border-radius   : 3px;
    font-size       : 1rem;
    letter-spacing  : -.05em;
    text-wrap       : nowrap;
    color           : #FFF;
    background-color: var(--primary-color);
}
.employee__subData__rol{
    background-color: var(--accent-color);
    align-self      : center;
    font-size       : 1.5rem;
}
.employee__name{
    width           : max-content;
    max-width       : 100%;
    font-size       : 1.5rem;
    font-weight     : 600;
    letter-spacing  : -.05em;
    color           :#FFF;
    text-decoration-color: var(--primary-color);
    text-wrap       : nowrap;
}
.employee__name span {
    padding         : 0 .5rem;
    border-radius   : 3px;
    background-color: var(--primary-color);
}

</style>
