---
import { companyData } from "@/data/contact";

import Layout from "@/layouts/Layout.astro";

import Map from "@/components/contact/Map.astro";
import Terms from "@/components/contact/Terms.astro";
import Legal from "@/components/contact/Legal.astro";
import SocialNetwork from "@/components/contact/SocialNetwork.astro";

---

<Layout title="Valores - Transvia Ingeniería" description="" keywords={["Transvia Ingenieria"]}>
    <Map 
        office  = {companyData.oficina}
        address = {companyData.direccion}
        city    = {companyData.ciudad} 
    />
    
    <Legal {... companyData.representante} />
    <section class="terms-networks">
        <Terms termsLink={companyData.enlaceTerminos} />
        <SocialNetwork
            phone={companyData.telefono}
            linkInstagram={companyData.enlaceInstagram}
            linkLinkedin={companyData.enlaceLinkedin}
        />
    </section>
</Layout>

<style>
.terms-networks{
    display         : grid;
    grid-template-columns: 2fr 1fr;
    gap             : 1rem;
    padding         : 0 2rem;
}
</style>