---
import { companyData } from "@/data/contact";

import transviaLogoWhite from "@/assets/transviaLogoClaro.png";
import WhatsappLogo from "@/icons/WhatsappLogo.astro";
import InstagramLogo from "@/icons/InstagramLogo.astro";
import LinkedinLogo from "@/icons/LinkedinLogo.astro";

const whatsapp = companyData.telefono;
---

<footer class="footer">
    <h3 class="footer__title">
        <span class="label"> Contactanos&nbsp; </span>
        <span class="label"> Contactanos&nbsp; </span>       
        <span class="label"> Contactanos&nbsp; </span>       
        <span class="label"> Contactanos&nbsp; </span>       
        <span class="label"> Contactanos&nbsp; </span>       
    </h3>
    <article class="footer__right">
        <img 
            class="logo" 
            src={transviaLogoWhite.src} 
            alt="Logo de Transvia Ingenieríia en color blanco"
            loading="lazy"
            decoding="async"
        >
        <h1 class="company-name">{companyData.nombreCompañia}</h1>
        <p class="company-location">{companyData.direccion}, {companyData.ciudad}</p>
    </article>
    <aside class="footer__left">
        <p class="company-contact"> {companyData.email} </p>
        <p class="company-contact"> {companyData.telefono} </p>
        <ul class="social-network">
            <li class="social-network__link">
                <a aria-label="Enlace hacia chat de WhatsApp" href={whatsapp}>
                    <WhatsappLogo />
                </a>
            </li>
            <li class="social-network__link">
                <a aria-label="Enlace hacia perfil de Instagram" href={companyData.enlaceInstagram} >
                    <InstagramLogo />
                </a>
            </li>
            <li class="social-network__link">
                <a aria-label="Enlace hacia perfil de Linked In" href={companyData.enlaceLinkedin} >
                    <LinkedinLogo />
                </a>
            </li>
        </ul>
    </aside>
    <footer class="footer__botton">
        <span class="botton__item">© Transvia Ingeniería 2024</span>
        <span class="botton__item">Cristóbal Contreras Beltrán</span>
    </footer>
</footer>

<style>
.footer{
    display         : grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--footer-color);
    color           : var(--footer-letter);
    padding         : 1rem;
}
.footer__title{
    position        : relative;
    display         : flex;
    flex-flow       : row nowrap;
    font-family     : "Nunito", sans-serif;
    grid-area       : 1 / 1 / 2 / 3;
    font-weight     : 600;
    font-size       : 5rem;
    white-space     : nowrap;
    overflow-x      : hidden;
}
.label{
    display         : inline-block;
    animation       : hTranslation 5s linear infinite;
    max-width       : none;
}
@keyframes hTranslation {
    from{transform  : translateX(0);}
    to{transform    : translateX(-100%);}
}
.footer__right{
    grid-area       : 2 / 1 / 3 / 2;
    margin-bottom   : 3rem;
}
.logo{
    width           : 10rem;
    aspect-ratio    : 8 / 3;
}
.company-name{
    font-family     : "Nunito", sans-serif;
    font-size       : 3rem;
    font-weight     : 600;
    text-wrap       : nowrap;
}
.company-location{
    font-size       : 1.5rem;
}

.footer__left{
    grid-area       : 2 / 2/ 3 / 3;

}
.company-contact{
    text-align      : end;
    font-size       : 1.5rem;
    letter-spacing  : -.03em;
    margin-bottom   : .5rem;
}
.social-network{
    display         : flex;
    justify-content : end;
    gap             : 1rem;
}
.social-network__link{
    width           : 3rem;
    height          : 3rem;
}

.footer__botton{
    border-top      : 1px solid var(--footer-letter);
    margin          : 0 1rem;
    padding-top     : 1rem;
    grid-area       : 3 / 1 / 4 / 3;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
}
.botton__item{
    font-size: 1rem;
}
</style>
