---
import { companyData } from "@/data/contact";

//Images
import transviaLogo from "@/assets/transviaLogo.png";
import mobileMenuImage from "@/assets/menu.jpg";

//Icons
import MenuIcon from "@/icons/MenuIcon.astro";
import HomeIcon from "@/icons/HomeIcon.astro";
import ArrowIcon from "@/icons/ChevronRightIcon.astro";

const location : string = Astro.url.pathname;
const isHome : boolean = location === "/";

let locationLabel = "";
if (!isHome) {
    locationLabel = location.replace("/","");
}
---

<header class="header">
    <ul class="header__contact-Desktop">
        <li class="contact-item">
            <div class="contact-item__icon contact-item__email-icon"></div>
            <span class="contact-item__contact-label">direccion@dominio.cl</span>
        </li>
        <li class="contact-item">
            <div class="contact-item__icon contact-item__phone-icon"></div>
            <span class="contact-item__contact-label">+56 9 1234 5678</span>
        </li>
        <li class="contactDataItem">
            <div class="contact-item__icon contact-item__map-icon"></div>
            <span class="contact-item__contact-label">direccion@dominio.cl</span>
        </li>
    </ul>

    <section class="header__navbar">
        <nav class="menu-desktop">
            <a class="menu-desktop__item">Proyectos</a>
            <a class="menu-desktop__item">Valores</a>
        </nav>

        <a class="logo" href="/">
            <img 
                src={transviaLogo.src} 
                alt="Logo Transvia Ingenieria"
                loading="lazy"
                decoding="async"
            >
        </a>
        
        <nav class="menu-desktop">
            <a class="menuDesktopItem">Nosotros</a>
            <a class="menuDesktopItem">Contacto</a>
        </nav>

        <label class="menu-deployer" for="isDeployed">
            <div class="menu-deployer__menu-icon"> <MenuIcon /> </div>
            <span class="menu-deployer__menu-label">Menú</span>
        </label>
    </section>

    <input class="header__checker" type="checkbox" id="isDeployed">
    <hr>
    <section class="header__deploy-menu">
        <img 
            class="menu-image"
            src={mobileMenuImage.src}
            alt="Calle en plano cenital"
            loading="lazy"
            decoding="async"
        >
        <nav class="mobile-nav">
            <a class="mobile-nav__item" href="/">Inicio</a>
            <a class="mobile-nav__item" href="/nosotros">Nosotros</a>
            <a class="mobile-nav__item" href="/valores">Valores</a>
            <a class="mobile-nav__item" href="/proyectos">Proyectos</a>
            <a class="mobile-nav__item" href="/contacto">Contacto</a>
        </nav>
        <aside class="company-information">
            <p class="company-information__item">
                {companyData.email}
                <br>
                {companyData.telefono}
            </p>
            <p class="company-information__item">
                {companyData.direccion}
                <br>
                {companyData.ciudad}
            </p>
            <span class="company-information__copyright">© Transvia Ingeniería 2024</span>
        </aside>
    </section>
</header>
{   
    !isHome && 
    <nav class="path">
        <a aria-label="Icono para volver al inicio" class="path__home-icon" href="/"> <HomeIcon /> </a>
        <div class="path__path-icon"> <ArrowIcon /> </div>
        <span class="path__location-label">{locationLabel}</span>
    </nav>
}


<style>
.header{
    position        : sticky;
    top             : 0;
    z-index         : 100;
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
    background-color: var(--background-color);
    box-sizing      : border-box;
}
.header__contact-Desktop{
    display         : none;
}
.header__navbar{
    padding         : .5rem 1rem;
    display         : flex;
    justify-content : space-between;
}

.menu-desktop{
    display         : none;
}

.logo{
    width           : 10rem;
    height          : 4rem;
}

.menu-deployer{
    display         : flex;
    gap             : .5rem;
    align-items     : center;
}
.menu-deployer__menu-icon{
    width           : 3rem;
    height          : 3rem;
}
.menu-deployer__menu-label{
    font-family     : "Nunito", sans-serif;
}

.header__checker{
    display         : none;
}
.header__deploy-menu{
    display         : none;
}

.header__checker:checked ~ hr{
    margin          : 0 2rem;
    height          : 1px;
    width           : auto;
    box-sizing      : content-box;
    background-color: var(--text-color);
}
.header__checker:checked ~ .header__deploy-menu{
    position        : fixed;
    top             : calc(1px + 5rem);
    width           : 100%;
    display         : flex;
    padding         : 1rem;
    gap             : .5rem;
    background-color: var(--background-color);
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation       : swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}

.menu-image{
    width           : 15rem;
    height          : 25rem;
}
.mobile-nav{
    display         : flex;
    flex-direction  : column;
    gap             : 1rem;

}
.mobile-nav__item{
    width           : min-content;
    padding         : 0 .25rem;
    font-family     : "Nunito", sans-serif;
    font-weight     : 600;
    border-bottom   : 1px solid var(--text-color);
}
.company-information{
    flex-grow       : 1;
    display         : flex;
    flex-direction  : column;
    justify-content : end;
    align-items     : end;
    gap             : 1rem;
}
.company-information__item{
    font-size       : 1rem;
    text-align      : end;
}
.company-information__copyright{
    font-size       : .9rem;
    width           : max-content;
}

.path{
    display         : flex;
    padding         : 1rem 3rem;
    align-items     : center;
}
.path__home-icon{
    width           : 3rem;
    height          : 3rem;
}
.path__path-icon{
    width           : 3rem;
    height          : 2rem;
}
.path__location-label{
    font-family     : "Nunito", sans-serif;
    font-weight     : 700;
    font-size       : 3rem;
    line-height     : 2.5rem;
    border-bottom   : 2px solid var(--text-color);
}
.path__location-label::first-letter{
    text-transform  : capitalize;
}
</style>
