---
import { Image } from "astro:assets";
import { companyData } from "@/data/contact";

import mobileMenuImage from "@/assets/menu.jpg";

// TODO:
// Reparar Imagen
---

<section class="menu">
  <Image
    class="menu-image"
    src={mobileMenuImage}
    alt="Descripción de la imagen del menú"
  />
  <nav class="mobile-nav">
    <a class="mobile-nav__item" href="/IMIV">IMIV</a>
    <a class="mobile-nav__item" href="/ITS">ITS</a>
    <a class="mobile-nav__item" href="/proyectos">Proyectos</a>
    <a class="mobile-nav__item" href="/nosotros">Nosotros</a>
    <a class="mobile-nav__item" href="/principios">Principios</a>
    <a class="mobile-nav__item" href="/contacto">Contacto</a>
  </nav>
  <aside class="company-information">
    <p class="company-information__item">
      {companyData.direccion}
      <br />
      {companyData.ciudad}
    </p>
    <p class="company-information__item">
      {companyData.email}
      <br />
      {companyData.telefono}
    </p>
    <small> © Transvia Ingeniería 2024 </small>
  </aside>
</section>

<style>
  .menu {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0.5em 1em;
    gap: 0.5em;
    background-color: var(--background-color);
  }
  .menu-image {
    width: 18em;
    height: 32em;
    flex-shrink: 0;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-shrink: 0;
  }
  .mobile-nav__item {
    width: min-content;
    padding: 0 0.1em;
    font-family: "Nunito", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -0.04em;
    border-bottom: 1px solid var(--text-color);
  }
  .company-information {
    flex-shrink: 2;
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 1em;
  }
  .company-information__item {
    font-size: 1.25em;
    text-align: right;
  }
</style>
